{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'css/stylestb.css' %}" />
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}" />
    <link rel="stylesheet" href="{% static 'css/styles.min.css' %}" />
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>

    <title>Afficher les budgets</title>
</head>
<body>
    <h1>Liste des budgets</h1>

    <ul class="budget-list">
        {% for budget in budgets %}
            <div class="visite-container">
                <div class="visite-info">
                    <div class="visite-header">
                        <p> Type: {{ budget.type }}</p>
                    </div>
                    <div class="visite-details">
                        <p>Souhait: {{ budget.souhait }}</p>
                        <p>Meet: {{ budget.meet }}</p>
                        <p>Montant: {{ budget.montant }}</p>
                    </div>
                </div>
                <!-- Bouton de suppression -->
                <div class="btn-container">
                    <form method="post" action="{% url 'supprimerBudjet' budget.id %}" style="display: inline;">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-danger">Supprimer</button>
                    </form>
                </div>
            </div>
        {% endfor %}
    </ul>

    <a href="{% url 'Budjet' %}" class="btn btn-primary">Ajouter un budget</a>
</body>
</html>
