{% load static %}

<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no" />
  <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}" />
  <link rel="stylesheet" href="{% static 'css/styles.min.css' %}" />    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
  <div class="container mt-5">
    
    <h1 class="text-center">Communauté par Catégorie</h1>

    <div class="d-flex flex-wrap justify-content-center mt-4">
        <a href="{% url 'communaute_telephone' %}" class="btn btn-primary m-2">Communauté Téléphone</a>
        <a href="{% url 'communaute_tablette' %}" class="btn btn-primary m-2">Communauté Tablette</a>
        <a href="{% url 'communaute_ordinateur' %}" class="btn btn-primary m-2">Communauté Ordinateur</a>
        <a href="{% url 'communaute_Accessoire_telephone' %}" class="btn btn-primary m-2">Communauté Accessoire téléphone</a>
        <a href="{% url 'communaute_Accessoire_tablette' %}" class="btn btn-primary m-2">Communauté Accessoire tablette</a>
        <a href="{% url 'communaute_Accessoire_ordinateur' %}" class="btn btn-primary m-2">Communauté Accessoire ordinateur</a>
    </div>
</div>

</body>
</html>