{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Confirmation d'invitation</title>
    <link href="{% static 'css/styles.css' %}" rel="stylesheet"> <!-- Vous pouvez inclure ici des liens vers vos fichiers CSS et JavaScript pour styliser la page de confirmation. -->
</head>
<body>
    <h1>Invitation envoyée avec succès !</h1>
    <p>Félicitations, vous avez gagné un coupon de -30% de réduction sur votre prochain achat.</p>
    <!-- Vous pouvez ajouter ici d'autres informations ou des liens pour que l'utilisateur poursuive sa navigation sur votre site. -->
</body>
</html>
