{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{% static 'css/stylestb.css' %}">
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/styles.min.css' %}">
    <title>Tableau de bord</title>
</head>
<body>
    <h1>Tableau de Bord</h1>

    {% for visite in historique_visites %}
    <div class="visite-container">
        <div class="visite-info">
            <div class="visite-header">
                <p>{{ visite.date_of_visit }}</p>
            </div>
            <div class="visite-details">
                <p>Vous avez visité le magasin '{{ visite.store_name }}' à '{{ visite.location }}' et vous avez vu '{{ visite.category }}' de marque '{{ visite.brand }}' {% if visite.name %}avec le nom '{{ visite.name }}'{% endif %} et le prix '{{ visite.prix }}'euro'.</p>
            </div>
        </div>
        <!-- Bouton de suppression -->
        <div class="btn-container">
            <form method="post" action="{% url 'supprimer_visite' visite.id %}">
                {% csrf_token %}
                <button type="submit" class="btn btn-danger">Supprimer</button>
            </form>
        </div>
    </div>
    {% endfor %}

    <a href="{% url 'histoire' %}" class="btn btn-primary">Ajouter une nouvelle histoire</a>
</body>
</html>
