
body {
    font-family: 'Arial', sans-serif;
}

.container {
    margin-top: 20px;
}

h1 {
    color: #333;
}

/* Styles du formulaire de tri */
#sortForm {
    margin-bottom: 20px;
}

/* Styles du bouton de recherche avancée */
#advancedSearchButton {
    margin-bottom: 20px;
}

/* Styles de la grille de téléphones */
.custom-row {
    margin-bottom: 20px;
}

.phone-card {
    border: 1px solid #ddd;
    border-radius: 8px;
    margin-bottom: 20px;
}

.card-img-top {
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.card-body {
    padding: 15px;
}

.card-title {
    font-size: 1.2em;
}

/* Style du formulaire de recherche avancée */
#advancedSearchForm {
    display: none;
}

.search-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

/* Nouveaux styles pour le formulaire de tri */
#sortForm {
    display: flex;
    align-items: center;
}

#sortForm label {
    margin-right: 10px;
}

/* Nouveaux styles pour le bouton de recherche avancée */
#advancedSearchButton {
    background-color: #4caf50;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

/* Nouveaux styles pour le formulaire de recherche avancée */
#advancedSearchForm {
    display: none;
    margin-top: 20px;
}

#advancedSearchForm label {
    margin-right: 10px;
}

#advancedSearchForm input,
#advancedSearchForm select {
    margin-bottom: 10px;
    padding: 8px;
}
